// Forms
// ----------------------------------------------------------------------------

.newsletter-signup {
	@extend %clearfix;
	background: url('../images/map-gray.svg') top center no-repeat #999 fixed;
	background-size: cover;
	padding-top: 1em;
	padding-bottom: 1em;
	form {
		vertical-align: top;
		text-align: center;
		display: block;
		transition: max-width 0.2s ease-out;
		width: 100%;
		@include mq-at-least(860px){
			max-width: 500px;
			// float: right;
			text-align: right;
		}
		@include mq-at-least(1024px){
			max-width: 600px;
		}

		label {
			margin-right: 1em;
			padding-bottom: 8px;
			text-align: left;
			display: block;
			@include mq-at-least(860px){
				padding-bottom: 0;
				display: inline-block;
			}
		}
		input {
			display: block;
			border-radius: 5px;
			border: none;
			width: 100%;
			margin-bottom: 1em;
			@include mq-at-least(550px){
				display: inline-block;
				width: calc(50% - 1em)
			}
			@include mq-at-least(860px){
				display: inline-block;
				width: auto;
				margin-bottom: 0;
			}
		}
		.email {
			height: 50px;
			line-height: 50px;
			padding: 0 1em 0 1em;
			min-width: 200px;
			@include mq-at-least(550px){
				margin-right: 1em;
			}
			@include mq-at-least(1024px){
				min-width: 300px;
			}
		}
		.submit {
			height: 50px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 50px;
			margin-bottom: 0;
			text-align: center;
			display: inline-block;
			@include mq-at-least(1024px){

			}
		}
	}
	.mc-field-group {
		@include mq-at-least(860px){
			display: flex;
			align-items: center;
			// justify-content: space-between;
		}
	}


}

.newsletter-signup__wrapper {
	@extend %wrapper;
	@extend %clearfix;
	@include mq-at-least(860px){
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@include mq-at-least(1100px){
		padding-left: 0;
		padding-right: 0;
	}
}
.newsletter-signup__form {
	flex-grow: 2;
	@include mq-at-least(860px){
		form {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.newsletter-signup__title {
	h2 {
		margin: 0 0 16px;
		font-family: $roboto-slab;
		text-align: center;
		line-height: 1em;

		@include mq-at-least(860px){
			padding: 0;
			text-align: left;
			// float: left;
			margin: 0;
			// height: 50px;
			// line-height: 50px;
			// display: block;
		}
	}
	p {
		font-style: italic;
		margin: 0;
		padding: 10px 0 0;
	}
}
